.ressetPassContainer {
  width: 100%;
  /* max-width: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.ressetPassContainer_input {
  width: 100%;
  max-width: 500px;
}
.ressetPassContainer button {
  margin-top: 20px;
}
